[Unit]
Description=Monitor the "test" process
After=network.target

[Service]
Type=oneshot
ExecStart=/home/{{ remote_user }}}}/var/scripts/test_monitor.sh