[Unit]
Description=Run test_monitor.service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=test_monitor.service

[Install]
WantedBy=timers.target